*.pyc
species_separator.egg-info/*
results/*
pipeline_test/results/*
test_results/star_indices/*
test_results/raw_reads/*
test_results/mapped_reads/*
test_results/filtered_reads/*
test_results/star_index_mouse_genome
test_results/star_index_rat_genome
neuron_astrocyte_activity_results/*
Mouseonly_results/*
scratch/*
filter_batch.sh
species_separator/sed_block.sh
merge_test.sh
star_batch.sh
docs/_build
